<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title QQ - Quantity Queries Builder
		script(src='//use.typekit.net/pvx0vef.js')
		link(rel="icon" href="images/icon.png?v=1.1")
		script.
				try{Typekit.load();}catch(e){}
		link(href="styles/style.css", rel='stylesheet')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet")
		meta(name='keywords', content='Quantity Query, Quantity Ordering, Conditional CSS, CSS')
		meta(name='description', content='Ferramenta para montar Quantity Queries em CSS')
		meta(name='author', content='dpw')
		meta(property='og:title', content='Quantity Queries Builder')
		meta(property='og:type', content='website')
		meta(property='og:url', content='https://quantityqueries.desenvolvimentoparaweb.com/')
		meta(property='og:image', content='https://quantityqueries.com/images/icon.jpg')
		meta(property='og:site_name', content='Quantity Queries Builder')
		meta(property='og:description', content='Ferramenta para montar Quantity Queries em CSS')
		<!-- Google tag (gtag.js) -->
		script(src="https://www.googletagmanager.com/gtag/js?id=G-GT98RB8PTX", async)
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-GT98RB8PTX');
		body

		header.top
			.logo
				h1 QQ
					span.is-visually-hidden - Quantity Queries Builder
			.details
				p Ferramenta para montar Quantity Queries em CSS
				p.explain O que é uma quantity query?
			.attrib
				p 
					small Um oferecimento&nbsp;
						a(href="https://desenvolvimentoparaweb.com/")
							img(style='width: 50px', src='https://desenvolvimentoparaweb.com/app/themes/dpw2019/dist/images/desenvolvimento-para-web-logo_9b02c264.png')
				p
					a.twitter-share-button(href='https://twitter.com/share', data-text="Conheça essa ferramenta para montar Quantity Queries em CSS", data-via='desenvolvweb') Compartilhar
					script.
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				p
					small(style='font-size: 10px') Criado por&nbsp;
						a(href="https://drewminns.com") drewminns
		block content
		.lightbox#lightbox
			.lightboxInner
				.closeButton
					i.fa.fa-times
				header.inner
					h2 O que são Quantity Queries em CSS?
				section.content
					p Uma quantity query (consulta de quantidade) é um seletor CSS complexo que permite que estilos sejam aplicados a elementos com base no número de irmãos.
					h4 Pelo Menos
					p Estilos são aplicados a todos os elementos quando há <strong>pelo menos</strong> 5 itens e irmãos presentes.
					code .item:nth-last-child(n+5):first-child, .item:nth-last-child(n+5):first-child ~ .item {}
					h4 No Máximo
					p Estilos são aplicados a todos os elementos quando há <strong>no máximo</strong> 10 itens e irmãos presentes.
					code .item:nth-last-child(-n+10):first-child, .item:nth-last-child(-n+10):first-child ~ .item {}
					h4 Entre
					p Estilos são aplicados quando o número de elementos está <strong>entre</strong> 3 e 5.
					code .item:nth-last-child(n+3):nth-last-child(-n+5):first-child, .item:nth-last-child(n+3):nth-last-child(-n+5):first-child ~ .item {}

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js")
		script(src="scripts/main.min.js")

